@using managementPanel.Models

@{

    ViewBag.Title = "Usuario";

    var dato = (dynamic)null;
    var tareasUsuarios = (dynamic)null;

    managementPanel.Controllers.ProyectoController proyectoController = new managementPanel.Controllers.ProyectoController();
    managementPanel.Controllers.TareaController tareaController = new managementPanel.Controllers.TareaController();


    if (Session["usuario"] != null)
    {
        dato = proyectoController.ProyectosHoy(((Usuarios)Session["usuario"]).IdUsuario);
        tareasUsuarios = tareaController.TareasHoy(((Usuarios)Session["usuario"]).IdUsuario);
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Management Panel</title>

    <!--Añadimos parametro 'ver' para que se genere de nuevo la hoja de estilos y no se cargue la almacenada en la caché-->
    <link rel="stylesheet" href="~/ContentManagement/Css/StyleSheet.css?ver=@DateTime.Now.Ticks" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--Libreria para toasts-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="bodyM">
    <nav class="navPrincipal">
        <span class="decor"></span>
        <ul class="primary" id="ulPrincipal">
            <li><a id="homeIcon" class="navbar-brand" href="/"><span class="material-symbols-outlined">home</span>ManagementPanel</a></li>

            @if (Session["usuario"] != null)
            {
                <span id="cabeceraMenu">Mecalux Software Solutions</span>
                <li class="push-right" onclick="tusNotificaciones(@(((Usuarios)Session["usuario"]).IdUsuario), '@(((Usuarios)Session["usuario"]).Usuario)')">
                    <span class="material-symbols-outlined spans">
                        notifications
                    </span>
                </li>

                <li>
                    <span onclick="myFunction()" class="spans material-symbols-outlined drop-button">account_circle</span>
                    <ul id="mi-sub" class="sub">
                        <li>
                            <a href="@Url.Action("verPerfil", "Usuario", new { idUsuario = ((Usuarios)Session["usuario"]).IdUsuario })">Ver Perfil</a>
                        </li>
                        <li>@Html.ActionLink("Tareas pendientes ", "ProyectosPendientes", "Proyecto")</li>
                    </ul>
                </li>
                <li>
                    <span class="spans material-symbols-outlined" id="botonCerrarSesion">@Html.ActionLink("logout", "CerrarSesion", "Login")</span>
                </li>
            }

        </ul>
        @if (Session["usuario"] != null)
        {
            <nav id="cabeceraOpciones">
                <div class="hoverMenu">
                    <div class="flexMenu" onclick="opcion('divOpcionTrabajo')" id="divTrabajo">
                        <div>Tu trabajo</div>
                        <span class="material-symbols-outlined flechas">
                            expand_more
                        </span>
                    </div>
                    <div id="divOpcionTrabajo">
                        <div id="opcionMisTrabajos" class="divsSubOpciones">
                            <div>
                                <span class="material-symbols-outlined iconosTrabajo">
                                    bookmark_manager
                                </span>
                                <span class="titulosApartados">
                                    @Html.ActionLink("Tareas pendientes", "ProyectosPendientes", "Proyecto")
                                </span>
                            </div>
                            <div>
                                <span class="material-symbols-outlined iconosTrabajo">
                                    library_add
                                </span>
                                <span class="titulosApartados">
                                    @Html.ActionLink("Listar Tareas", "ListarTareas", "Tarea")
                                </span>
                            </div>
                            <div>
                                <span class="material-symbols-outlined iconosTrabajo">
                                    table_chart
                                </span>
                                <span class="titulosApartados">
                                    @Html.ActionLink("Tablero", "TableroTareas", "Tarea")
                                </span>
                            </div>
                            <div>
                                <span class="material-symbols-outlined iconosTrabajo">
                                    event
                                </span>
                                <span class="titulosApartados">
                                    @Html.ActionLink("Vacaciones", "VerVacaciones", "Usuario")
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                @if (((Usuarios)Session["usuario"]).Equipos.Count > 0 || ((Usuarios)Session["usuario"]).Admin == true)
                {
                    <div class="hoverMenu">
                        <div class="flexMenu" onclick="opcion('divOpcionEquipo')">
                            <div>Equipos</div>
                            <span class="material-symbols-outlined flechas">
                                expand_more
                            </span>
                        </div>
                        <div id="divOpcionEquipo">
                            <div id="opcionMisEquipos" class="divsSubOpciones">
                                @if (((Usuarios)Session["usuario"]).Equipos.Count > 0)
                                {
                                    <div>
                                        <span class="material-symbols-outlined iconosTrabajo">
                                            groups
                                        </span>
                                        <span class="titulosApartados">
                                            @Html.ActionLink("Ver mis Equipos", "ListarEquipos", "Equipo")
                                        </span>
                                    </div>
                                }
                                @if (((Usuarios)Session["usuario"]).Usuario.Equals("admin"))
                                {
                                    <div>
                                        <span class="material-symbols-outlined iconosTrabajo">
                                            groups
                                        </span>
                                        <span class="titulosApartados">
                                            @Html.ActionLink("Listado de Equipos", "ListarEquipos", "Equipo")
                                        </span>
                                    </div>
                                    <div>
                                        <span class="material-symbols-outlined iconosTrabajo">
                                            group_add
                                        </span>
                                        <span class="titulosApartados">
                                            @Html.ActionLink("Crear un Equipo", "InsertarEquipos", "Equipo")
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                @if (((Usuarios)Session["usuario"]).Usuario.Equals("admin") || ((Usuarios)Session["usuario"]).Admin == true)
                {
                    <div class="hoverMenu">
                        <div class="flexMenu" onclick="opcion('divOpcionUsuario')">
                            <div>Usuarios</div>
                            <span class="material-symbols-outlined flechas">
                                expand_more
                            </span>
                        </div>
                        <div id="divOpcionUsuario">
                            <div id="opcionMisUsuarios" class="divsSubOpciones">
                                <div>
                                    <span class="material-symbols-outlined iconosTrabajo">
                                        recent_actors
                                    </span>
                                    <span class="titulosApartados">
                                        @Html.ActionLink("Listado de Usuarios", "ListarUsuarios", "Usuario")
                                    </span>
                                </div>
                                @if (((Usuarios)Session["usuario"]).Usuario.Equals("admin"))
                                {
                                    <div>
                                        <span class="material-symbols-outlined">
                                            person_add
                                        </span>
                                        <span class="titulosApartados">
                                            @Html.ActionLink("Crear un Usuario", "Registrar", "Login")
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="hoverMenu">
                    <div class="flexMenu" onclick="opcion('divOpcionProyecto')">
                        <div>Proyectos</div>
                        <span class="material-symbols-outlined flechas">
                            expand_more
                        </span>
                    </div>
                    <div id="divOpcionProyecto">
                        <div id="opcionMisProyectos" class="divsSubOpciones">
                            <div>
                                <span class="material-symbols-outlined iconosTrabajo">
                                    format_list_bulleted
                                </span>
                                <span class="titulosApartados">
                                    @Html.ActionLink("Listado de Proyectos", "ListarProyectos", "Proyecto")
                                </span>
                            </div>
                            @if (((Usuarios)Session["usuario"]).Admin == true)
                            {
                                <div>
                                    <span class="material-symbols-outlined iconosTrabajo">
                                        library_add
                                    </span>
                                    <span class="titulosApartados">
                                        @Html.ActionLink("Crear un Proyecto", "CrearProyecto", "Proyecto")
                                    </span>
                                </div>
                                <div>
                                    <span class="material-symbols-outlined iconosTrabajo">
                                        cloud_upload
                                    </span>
                                    <span class="titulosApartados">
                                        @Html.ActionLink("Importar Proyectos", "ImportarProyecto", "Proyecto")
                                    </span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="hoverMenu">
                    <div class="flexMenu" onclick="opcion('divOpcionEstadistica')">
                        <div>Estadísticas</div>
                        <span class="material-symbols-outlined flechas">
                            expand_more
                        </span>
                    </div>
                    <div id="divOpcionEstadistica">
                        <div id="opcionMisEstadisticas" class="divsSubOpciones">
                            <div>
                                <span class="material-symbols-outlined iconosTrabajo">
                                    bar_chart
                                </span>
                                <span class="titulosApartados">
                                    @Html.ActionLink("Estadísticas Individuales", "VerEstadisticas", "Estadistica")
                                </span>
                            </div>
                            @if (((Usuarios)Session["usuario"]).Admin == true)
                            {
                                <div>
                                    <span class="material-symbols-outlined iconosTrabajo">
                                        monitoring
                                    </span>
                                    <span class="titulosApartados">
                                        @Html.ActionLink("Estadísticas Grupales", "VerEstadisticasGrupo", "Estadistica")
                                    </span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div id="mensajeSaludo">
                    Hola, @(((Usuarios)Session["usuario"]).Nombre)
                </div>
            </nav>
        }
    </nav>
    @if (Session["usuario"] != null)
    {
        <div id="divNotificaciones">
            <div id="cabeceraNotificaciones">
                <h2 id="tituloNotificaciones">Notificaciones</h2>
                <div id="tituloNoti">- Entregas de hoy</div>
            </div>
            <div id="cambioOpcion">
                <span onclick="mostrarProyectos()">Proyectos</span>
                <span onclick="mostrarTareas()">Tareas</span>
                <span onclick="mostrarSolicitudes()">Otros</span>
            </div>
            <div id="contenedorEntregas">
                @if (dato.Count == 0)
                {
                    <div id="sinNotificaciones">No hay entregas programadas para hoy</div>
                }
                else
                {
                    foreach (var tareas in dato)
                    {
                        <div class="filasNotificaciones">
                            <a href="@Url.Action("verProyecto", "Proyecto", new { codigo = tareas.Item5 })">Ver Proyecto</a>
                            <div class="nProyecto">@tareas.Item3</div>
                            <div class="nJefeP">Jefe de proyecto: <i>@tareas.Item2</i></div>
                            <div class="nFechaEntrega">Fecha @tareas.Item4: @Convert.ToDateTime(tareas.Item1).ToString("dd/MM/yyyy")</div>
                        </div>
                    }
                    <div id="divNotiHoy">
                        <img src="~/ContentManagement/Img/notificaciones.png" id="imagenNotificaciones" /><br />
                        <span>Estas son todas las notificaciones de hoy.</span>
                    </div>
                }
            </div>
            <div id="contenedorTareas">
                @if (tareasUsuarios.Count == 0)
                {
                    <div id="sinNotificaciones">No hay entregas programadas para hoy</div>
                }
                else
                {
                    foreach (var t in tareasUsuarios)
                    {
                        <div class="filasNotificaciones">
                            <div class="nProyecto">@t.Item1</div>
                            <div class="nJefeP">Encargado: <i>@t.Item2</i></div>
                            <div class="nFechaEntrega">Fecha Fin: @Convert.ToDateTime(t.Item3).ToString("dd/MM/yyyy")</div>
                        </div>
                    }
                    <div id="divNotiHoy">
                        <img src="~/ContentManagement/Img/notificaciones.png" id="imagenNotificaciones" /><br />
                        <span>Estas son todas las notificaciones de hoy.</span>
                    </div>
                }

            </div>
            <div id="contenedorSolicitudes">
                @foreach (var s in new managementPanel.Controllers.UsuarioController().VacacionesNotificaciones())
                {
                    if (s == null)
                    {
                        <h2>No hay solicitudes</h2>
                    }
                    else
                    {
                        <p class="parrafoSolicitudes">
                            <span class="fechaBold">@s.Nombre @s.Apellidos</span> ha solicitado vacaciones <a href="@Url.Action("VerVacaciones", "Usuario")">Ver detalles</a>
                        </p>
                    }
                }
            </div>
        </div>

        if (dato.Count + tareasUsuarios.Count > 0)
        {
            <div id="numeroNotificaciones">@(dato.Count + tareasUsuarios.Count)</div>
            if (dato.Count > 0)
            {
                <div id="numeroProyectos">@dato.Count</div>
            }
            if (tareasUsuarios.Count > 0)
            {
                <div id="numeroTareas">@tareasUsuarios.Count</div>
            }
        }
    }
    <div>
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="~/ContentManagement/Js/JavaScriptNecesario.js"></script>
    <script src="~/ContentManagement/Js/JavaScriptDisenio.js"></script>

    <script src="~/ContentManagement/Js/JavaScriptNecesarioE.js?ver=@DateTime.Now.Ticks"></script>
    <script src="~/ContentManagement/Js/JavaScriptNecesarioEditar.js?ver=@DateTime.Now.Ticks"></script>
    <script src="~/ContentManagement/Js/JavaScriptDisenioE.js?ver=@DateTime.Now.Ticks"></script>
    <script src="~/ContentManagement/Js/JavaScriptDisenioP.js?ver=@DateTime.Now.Ticks"></script>
    <script src="~/ContentManagement/Js/JavaScriptNecesarioP.js?ver=@DateTime.Now.Ticks"></script>

    <script src="~/ContentManagement/Js/JavaScriptNecesarioEditar2.js?ver=@DateTime.Now.Ticks"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!--Script toasts-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


    <script>
        let sw = 0;

        window.onload = ocultar()

        function ocultar() {
            $('#divOpcionTrabajo').hide();
            $('#divOpcionEquipo').hide();
            $('#divOpcionUsuario').hide();
            $('#divOpcionProyecto').hide();
            $('#divOpcionEstadistica').hide();
            $('#divNotificaciones').hide();

            $('#numeroProyectos').hide()
            $('#numeroTareas').hide()
        }

        function opcion(id) {

            if (sw > 0) {
                ocultar()
                sw = 0
            }
            else {
                ocultar()
                $('#' + id).fadeIn(200);
                sw++
            }
        }

        function tusNotificaciones() {

            if (sw > 0) {
                ocultar()
                sw = 0
            }
            else {
                ocultar()
                $('#numeroProyectos').show()
                $('#numeroTareas').show()
                $('#divNotificaciones').fadeIn(200);
                sw++
            }
        }

        function mostrarTareas() {
            $('#contenedorEntregas').hide()
            $('#contenedorTareas').show()
            $('#contenedorSolicitudes').hide()
        }

        function mostrarProyectos() {
            $('#contenedorEntregas').show()
            $('#contenedorTareas').hide()
            $('#contenedorSolicitudes').hide()
        }

        function mostrarSolicitudes() {
            $('#contenedorEntregas').hide()
            $('#contenedorTareas').hide()
            $('#contenedorSolicitudes').show()
        }

    </script>
</body>
</html>