@{
    ViewBag.Title = "Eliminar Proyectos";
    Layout = "~/Views/Usuario/PlantillaUsuario.cshtml";
}

<h2 class="titulosTabla">Lista de proyectos</h2>

<div class="cajaTablas" id="misProyectos">
    <table class="table">
        <thead>
            <tr class="headTabla">
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Completado</th>
                <th>Jefe Proyecto</th>
                <th>Fase</th>
                <th>Fecha Comienzo</th>
                <th>Proyecto Completo</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proyecto in Model)
            {
                <tr>
                    <td>@proyecto.Codigo</td>
                    <td>@proyecto.Nombre</td>
                    <td>@proyecto.Completado</td>
                    <td>@proyecto.JefeProyecto</td>
                    <td>@proyecto.Fase</td>
                    <td>@proyecto.FechaComienzo.ToString("dd/MM/yyyy")</td>
                    <td><a href="@Url.Action("verProyecto", "Proyecto",  new { codigo = proyecto.Codigo })" class="btn btn-info">Ver Proyecto</a></td>
                    <td>
                        <a href="@Url.Action("EditarEquipos", "Equipo",  new { proyectoSesion = proyecto.Codigo })" class="btn btn-primary">Editar</a>
                    </td>

                    <td>
                        @Ajax.ActionLink("Eliminar", "EliminarProyectos", "Proyecto", new { proyectoSesion = @proyecto.Codigo }, new AjaxOptions()
                        {
                           HttpMethod = "POST",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "misProyectos",
                        }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>